<div class="margin-component timeline-component">
    {% for timeline in data.Polozky %}
        <div class="timeline-wrapper">
            {% set collapseId = 'timeline-' ~ loop.index ~ '-' ~ random(1000000) %}
            <div class="mb-4">
                <div class="timeline-title mb-2 collapse-toggle d-inline-flex align-items-center justify-content-between collapsed" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}" style="cursor: pointer;">
                    {{ timeline.Nadpis }}
                    <i class="bi bi-chevron-down"></i>
                </div>

                <div id="{{ collapseId }}" class="collapse">
                    <div class="pt-2">
                        {{ timeline.Text|markdown_to_html }}

                        {% if timeline.Fotka %}
                            <p class="mt-3 mb-0">
                                <img src="{{ timeline.Fotka.url }}" alt="{{ timeline.Nadpis }}" class="img-fluid">
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
