{#
{{ data.Kategorie.value }}
{{ data.Kategorie.slug }}
#}

<div class="mt-2 mb-5">
    {% for uredni_deska_dokument in this.items %}
        {% if loop.index < data.Pocet %}
            <article class="col-sm-6 col-md-4 my-4">
                <div class="d-flex">
                    <span class="article-icon me-3"></span>
                    <div>
                        <a href="{{ path('detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}" class="text-decoration-none">
                            <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}</time> {% if uredni_deska_dokument.Datum_stazeni %}- <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}</time>{% endif %}
                            <h2 class="h5 mt-1 fw-bold">{{ uredni_deska_dokument.Nadpis }}</h2>
                        </a>

                        {% if uredni_deska_dokument.Kategorie %}
                            {% for Kategorie in uredni_deska_dokument.Kategorie %}
                                <a class="custom-badge small" href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}">{{ Kategorie.Nazev }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
</div>
