<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %} | Obec Těrlicko</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}">
        <meta name="keywords" content="{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('android-chrome-192x192.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block custom_styles %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

    {% block full_content %}
        <header class="navbar navbar-expand-lg bg-dark p-3 fixed-top">
            <div class="container-fluid">
                <a href="/" class="navbar-brand d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="{{ asset('images/logo-white.svg') }}" alt="Těrlicko" height="60">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto me-lg-4 mb-2 mb-lg-0">
                        <twig:Menu />
                    </ul>

                    <div class="d-flex text-center">
                        <a href="#" class="nav-link nav-link-instagram">Instagram</a>
                        <a href="#" class="nav-link nav-link-facebook ms-3">Facebook</a>
                        <a href="#" class="nav-link nav-link-youtube ms-3">Youtube</a>
                    </div>
                </div>
            </div>
        </header>

        {{ include('_flashes.html.twig') }}

        {% block content %}{% endblock %}
    {% endblock %}


    <footer>
        <div class="footer-background py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 border-1 border-sm-end border-secondary pe-sm-4">

                        <h2><span class="text-secondary">Otevírací doba</span></h2>

                        Obecní úřad Těrlicko<br>

                        <strong>Májová 474/16, 735  42 Těrlicko-Horní Těrlicko</strong>
                        <p>
                            <strong class="text-secondary">Pondělí:</strong><br>
                            <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                        </p>

                        <p>
                            <strong class="text-secondary">Středa:</strong><br>
                            <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                        </p>
                    </div>

                    <div class="col-sm-6 border-1 border-sm-start border-secondary ps-sm-4">
                        <h2><span class="text-secondary">Mohlo by vás zajímat</span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-3 text-center bg-white footer-outer">
            web &amp; design <a href="https://www.wantoo.cz" target="_blank" class="fw-bold">WANTOO design</a> 2025
        </div>
    </footer>

    </body>
</html>
