{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if homepage and homepage.Slider %}
        <div class="carousel-wrapper position-relative">
            <div class="home-hero-gradient"></div>
            <div id="home-carousel" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for slide in homepage.Slider %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            {% if slide.Obrazek %}
                                <img src="{{ slide.Obrazek.url }}" class="slide-image w-100 h-100" alt="{{ slide.Nadpis }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
                <i class="bi-chevron-left bi-large" aria-hidden="true"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
                <i class="bi-chevron-right bi-large" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}

    <section class="home-quick-links pb-4">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-around home-quick-links-wrapper">
                {% if homepage %}
                    {% for rychly_odkaz in homepage.RychleOdkazy %}
                        <twig:Odkaz class="home-quick-link" data="{{ rychly_odkaz.Odkaz }}">
                            {% if rychly_odkaz.Obrazek %}
                                <span class="home-quick-link-image" style="background-image: url('{{ rychly_odkaz.Obrazek.url }}');"></span>
                            {% endif %}
                            {% if rychly_odkaz.ObrazekHover %}
                                <span class="home-quick-link-image-hover" style="background-image: url('{{ rychly_odkaz.ObrazekHover.url }}');"></span>
                            {% endif %}
                            <span class="text">{{ rychly_odkaz.Nadpis }}</span>
                        </twig:Odkaz>
                    {% endfor %}
                {% endif %}
            </div>

            <h2 class="mt-5 mb-4 text-white fw-bold">Tipy a aktivity v obci</h2>

            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-center">
                {% if homepage %}
                    {% for tip in homepage.Tipy %}
                        <twig:Odkaz class="home-tip" data="{{ tip.Odkaz }}">
                            <div class="background" {% if tip.Obrazek %}style="background-image: url('{{ tip.Obrazek.url }}');"{% endif %}>
                                {% if tip.ObrazekHover %}
                                    <div class="background-hover" style="background-image: url('{{ tip.ObrazekHover.url }}');"></div>
                                {% endif %}
                                <span class="number">{{ "%02d"|format(tip.index) }}</span>
                                <span class="title mb-2">{{ tip.Nadpis }}</span>
                                <span class="description">{{ tip.Text }}</span>
                            </div>
                        </twig:Odkaz>
                    {% endfor %}
                {% endif %}
            </div>

            <p class="text-end mt-4">
                {% if homepage and homepage.TipyOdkaz %}
                    <twig:Odkaz data="{{ homepage.TipyOdkaz }}" class="text-white text-decoration-none">
                        <span class="text-secondary">Všechny tipy a aktivity &raquo;</span>
                    </twig:Odkaz>
                {% endif %}
            </p>
        </div>
    </section>

    {% if aktuality %}
        <div class="container">
            <section class="py-5">
                <h2 class="mb-4">Aktuality</h2>

                <div class="row">
                    {% for aktualita in aktuality %}
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                            <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}" class="text-decoration-none pb-4 pb-sm-0 border-bottom-sm-only d-block">
                                <time class="small text-primary-emphasis">{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>

                                <h3 class="h5 mt-0 fw-bold">{{ aktualita.Nadpis }}</h3>

                                {% if aktualita.Tagy %}
                                    <p class="mb-0">
                                        {% for Tag in aktualita.Tagy %}
                                            <span class="custom-badge me-2 mb-2">{{ Tag.Tag }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}

                                {% if aktualita.Obrazek %}
                                    <img class="img-fluid" src="{{ aktualita.Obrazek.url }}" alt="" aria-labelledby="aktualita-{{ aktualita.slug }}">
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <p class="text-end mt-3">
                    <a href="{{ path('aktuality') }}" class="text-secondary text-decoration-none">Všechny příspěvky &raquo;</a>
                </p>
            </section>
        </div>
    {% endif %}

    {% if uredni_deska %}
        <div class="container pt-3 pb-5">
            <section class="row">
                <h2 class="mb-4">Úřední deska</h2>

                {% for uredni_deska_dokument in uredni_deska %}
                    <article class="col-sm-6 col-md-4 my-4">
                        <div class="d-flex">
                            <span class="article-icon me-3"></span>
                            <div>
                                <a href="{{ path('detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}" class="text-decoration-none">
                                    <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}</time> {% if uredni_deska_dokument.Datum_stazeni %}- <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}</time>{% endif %}
                                    <h2 class="h6 mt-1 fw-bold">{{ uredni_deska_dokument.Nadpis }}</h2>
                                </a>
                                {#
                                {% if uredni_deska_dokument.Kategorie %}
                                    {% for Kategorie in uredni_deska_dokument.Kategorie %}
                                        <a class="custom-badge small" href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}">{{ Kategorie.Nazev }}</a>
                                    {% endfor %}
                                {% endif %}
                                #}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>

            <p class="text-end mt-3">
                <a href="{{ path('uredni_deska') }}" class="text-secondary text-decoration-none">Všechny příspěvky &raquo;</a>
            </p>
        </div>
    {% endif %}

    <div class="background-accent">

        {% if upcoming_events %}
        <div class="container pt-3 pb-5">
            <h2 class="mb-4 mt-4">Nejbližší akce</h2>

            {% set czechMonths = ['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'] %}

            <div class="row">
                {% for event in upcoming_events %}
                    {% set monthName = czechMonths[event.Datum.format('m') - 1] %}
                    <div class="col-lg-6 mb-2">
                        {% if event.Aktualita %}
                            <a href="{{ path('detail_aktuality', {'slug': event.Aktualita.slug}) }}" class="text-decoration-none">
                        {% endif %}
                            <div class="d-flex w-100 upcoming-event-item position-relative">

                                <div class="upcoming-event-date flex-shrink-0 d-sm-none">
                                    {% if event.Datum and event.DatumDo and event.DatumDo.format('Y-m-d') != event.Datum.format('Y-m-d') %}
                                        {% set endMonthName = czechMonths[event.DatumDo.format('m') - 1] %}
                                        <span class="month-day">{{ event.Datum.format('d') }}-{{ event.DatumDo.format('d') }}</span>
                                        {% if monthName != endMonthName %}
                                            <span class="month-name">{{ monthName }}-{{ endMonthName }}</span>
                                        {% else %}
                                            <span class="month-name">{{ monthName }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="month-day">{{ event.Datum.format('d') }}</span>
                                        <span class="month-name">{{ monthName }}</span>
                                    {% endif %}
                                </div>

                                {% if event.Datum %}
                                    <div class="upcoming-event-date flex-shrink-0 d-none d-sm-block">
                                        <span class="month-day">{{ event.Datum.format('d') }}</span>
                                        <span class="month-name">{{ czechMonths[event.Datum.format('m') - 1] }}</span>
                                    </div>
                                {% endif %}

                                {% if event.DatumDo and (not event.Datum or event.DatumDo.format('Y-m-d') != event.Datum.format('Y-m-d')) %}
                                    <div class="upcoming-event-delimiter flex-grow-0 d-none d-sm-block">
                                        -
                                    </div>

                                    <div class="upcoming-event-date flex-shrink-0 d-none d-sm-block">
                                        <span class="month-day">{{ event.DatumDo.format('d') }}</span>
                                        <span class="month-name">{{ czechMonths[event.DatumDo.format('m') - 1] }}</span>
                                    </div>
                                {% endif %}

                                <div class="upcoming-event-detail flex-grow-1">
                                    <span class="upcoming-event-title">{{ event.Nazev }}</span>
                                    {% if event.Popis %}
                                        <br>
                                        <span class="small event-description">
                                                {{ event.Popis }}
                                            </span>
                                    {% endif %}
                                    {% if event.Poradatel %}
                                        <br>
                                        <span class="small">
                                            Pořadatel: <span class="text-secondary fw-bold">{{ event.Poradatel }}</span>
                                        </span>
                                    {% endif %}
                                </div>

                                {% if event.Aktualita %}
                                    <span class="event-link">
                                        <i class="bi bi-caret-right-fill"></i>
                                    </span>
                                {% endif %}
                            </div>
                        {% if event.Aktualita %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="container pt-3 pb-5">
            <h2 class="mt-4 mb-4">Kalendář akcí</h2>

            <twig:Calendar />
        </div>
    </div>
{% endblock %}
