{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <section class="home-hero">
        <div class="home-hero-gradient">

        </div>
    </section>

    <section class="home-quick-links pb-4">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-around home-quick-links-wrapper">
                <a href="#" class="home-quick-link quick-link-sport">
                    <span>Sport</span>
                </a>
                <a href="#" class="home-quick-link quick-link-volny-cas">
                    <span>Volný čas</span>
                </a>
                <a href="#" class="home-quick-link quick-link-akce">
                    <span>Akce</span>
                </a>
                <a href="#" class="home-quick-link quick-link-koupani">
                    <span>Koupání</span>
                </a>
                <a href="#" class="home-quick-link quick-link-restaurace">
                    <span>Restaurace</span>
                </a>
            </div>

            <h2 class="mt-5 mb-4 text-white fw-bold"><span class="text-secondary">Tipy</span> a <span class="text-secondary">aktivity</span> v obci</h2>

            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-center">
                <a href="#" class="home-tip tip-1">
                    <div class="background">
                        <span class="number">01</span>
                        <span class="title mb-2">Cyklotrasy a cykloakce</span>
                        <span class="description">Lorem ipsum</span>
                    </div>
                </a>

                <a href="#" class="home-tip tip-2">
                    <div class="background">
                        <span class="number">02</span>
                        <span class="title mb-2">Těrlická přehrada</span>
                        <span class="description">Lorem ipsum</span>
                    </div>
                </a>

                <a href="#" class="home-tip tip-3">
                    <div class="background">
                        <span class="number">03</span>
                        <span class="title mb-2">Sportovní hala</span>
                        <span class="description">Lorem ipsum</span>
                    </div>
                </a>

                <a href="#" class="home-tip tip-4">
                    <div class="background">
                        <span class="number">04</span>
                        <span class="title mb-2">Knihovna v Těrlicku</span>
                        <span class="description">Lorem ipsum</span>
                    </div>
                </a>

                <a href="#" class="home-tip tip-5">
                    <div class="background">
                        <span class="number">05</span>
                        <span class="title mb-2">Těrlický filmový festival</span>
                        <span class="description">Lorem ipsum</span>
                    </div>
                </a>
            </div>

            <p class="text-end mt-4">
                <a href="#" class="text-white text-decoration-none">
                    <span class="text-secondary">Všechny tipy</span> a <span class="text-secondary">aktivity &raquo;</span>
                </a>
            </p>
        </div>
    </section>

    {% if aktuality %}
        <div class="container">
            <section class="py-5">
                <h2 class="mb-4"><span class="text-secondary">Příspěvky</span> <span class="fw-lighter">obce</span></h2>

                <div class="row">
                    {% for aktualita in aktuality %}
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                            <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}" class="text-decoration-none">
                                {% if aktualita.Obrazek %}
                                    <img class="img-fluid mb-2" src="{{ aktualita.Obrazek.url }}" alt="" aria-labelledby="aktualita-{{ aktualita.slug }}">
                                {% endif %}

                                {% if aktualita.Tagy %}
                                    <span class="d-block text-secondary">
                                        {% for Tag in aktualita.Tagy %}
                                            {% if not loop.first %}
                                                |
                                            {% endif %}
                                            {{ Tag.Tag }}
                                        {% endfor %}
                                    </span>
                                {% endif %}

                                <h3 class="h5 border-top mt-2 pt-2">{{ aktualita.Nadpis }}</h3>
                                <time class="small text-primary-emphasis">{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <p class="text-end mt-3">
                    <a href="{{ path('aktuality') }}" class="text-secondary text-decoration-none">Všechny příspěvky &raquo;</a>
                </p>
            </section>
        </div>
    {% endif %}

    {% if uredni_deska %}
        <div class="container pt-3 pb-5">
            <section class="row">
                <h2 class="mb-4"><span class="text-secondary">Úřední</span> <span class="fw-lighter">deska</span></h2>

                {% for uredni_deska_dokument in uredni_deska %}
                    <article class="col-sm-6 col-md-4 my-4">
                        <div class="d-flex">
                            <span class="article-icon me-3"></span>
                            <div>
                                <a href="{{ path('detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}" class="text-decoration-none">
                                    <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}</time> {% if uredni_deska_dokument.Datum_stazeni %}- <time class="text-secondary fw-bold">{{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}</time>{% endif %}
                                    <h2 class="h5 mt-1 fw-bold">{{ uredni_deska_dokument.Nadpis }}</h2>
                                </a>
                                {% if uredni_deska_dokument.Kategorie %}
                                    {% for Kategorie in uredni_deska_dokument.Kategorie %}
                                        <a class="custom-badge small" href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}">{{ Kategorie.value }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>

            <p class="text-end mt-3">
                <a href="{{ path('uredni_deska') }}" class="text-secondary text-decoration-none">Všechny příspěvky &raquo;</a>
            </p>
        </div>
    {% endif %}

    <section class="home-footer py-5">
        <div class="container">
            <h2><span class="text-secondary">Otevírací doba</span></h2>

            <div class="row">
                <div class="col-4">
                    Obecní úřad Těrlicko<br>
                    <strong>Májová 474/16, 735  42 Těrlicko-Horní Těrlicko</strong>
                </div>
                <div class="col-4">
                    <p>
                        <strong class="text-secondary">Pondělí:</strong><br>
                        <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                    </p>

                    <p>
                        <strong class="text-secondary">Středa:</strong><br>
                        <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
